* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

img {
    height: 30px;
    width: 30px;
}
:root {
    --primary-color: rgb(73, 151, 214);
    --secondary-color: rgb(221, 188, 1);
    --background-color: rgb(221, 227, 236);
}

body {
    display: grid;
    grid-template-columns: 300px 3fr;
    background-color: var(--background-color);
}

.sidebar {
    background-color: var(--primary-color);
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    color: white;
    align-items: start;
    font-weight: 700;
}

.sidebar-header {
    display: flex;
    padding: 10px;
    gap: 20px;
    align-items: center;
    margin: 20px 0 0 10px;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    height: 40px;
    width: 40px;
    gap: 4px;
}

.one,
.two,
.three,
.four {
    background-color: white;
}

.one {
    grid-row: 1 / 3;
}

.four {
    grid-row: 2/ 4;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 80%;
    margin-left: 20px;
}

.nav-links:nth-of-type(2) {
    margin-top: 30px;
}

.nav-links li {
    list-style-type: none;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.nav-links li:first-of-type {
    margin-top: 0;
}

.nav-links li img {
    margin-right: 20px;
}

.nav-links li img:hover {
    opacity: 0.8;
}

.nav-links a {
    color: white;
}

.top {
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 40px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
}

.search img {
    height: 30px;
    width: 30px;
}

#search {
    background-color: var(--background-color);
    margin-left: 20px;
    padding: 0 20px 2px 20px;
    border: none;
    border-radius: 40px;
    height: 30px;
    flex: 1;
    font-size: 18px;
}

#search:focus {
    outline: 1px solid var(--primary-color);
    border: 1px solid var(--primary-color);
}

.profile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-left: 20px;
    font-weight: 500;
}

.profile-top img:nth-of-type(1) {
    height: 20px;
    width: 20px;
}

.profile-top img:nth-of-type(2) {
    height: 40px;
    width: 40px;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    margin-top: 20px;
}

.profile-bottom {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 10px;
    align-items: center;
}

.profile-bottom img {
    grid-row: 1 / 3;
    height: 80px;
    width: 80px;
}

.greeting {
    font-size: 12px;
    align-self: end;
}

.user {
    font-size: 24px;
    font-weight: 700;
    align-self: start;
}

.username:hover {
    text-decoration:none;
    cursor: hover;
}

img[src="./media/profile-img.svg"] {
    background-color: black;
    border-radius: 100%;
}

img[src="./media/profile-img-2.svg"] {
    background-color: black;
    border-radius: 100%;
}

img[src="./media/profile-img-3.svg"] {
    background-color: black;
    border-radius: 100%;
}

img[src="./media/profile-img-4.svg"] {
    background-color: black;
    border-radius: 100%;
}

.profile-top img:hover,
.profile-bottom img:hover,
.trending-card img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.action-buttons button {
    height: 40px;
    width: 100px;
    border-radius: 30px; 
    background-color: var(--primary-color);
    border: 0;
    color: white;
    font-weight: 600;
    font-size: 16px
}

.action-buttons button:hover {
    background-color:rgb(63, 129, 184);
    cursor: pointer;
}

.dashboard {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 10px;
    margin-top: 50px;
}

.projects-card:nth-of-type(1)::before {
    content: "Your Projects";
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    top: -35px;
}
.projects-card {
    position: relative;
    border-left: 8px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(120, 120, 120, 0.4);
    background-color: white;
}

.card-description {
    margin-top: 5px;
}

.card-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.card-buttons img {
    margin-left: 20px;
    height: 20px;
    width: 20px;
}

.card-buttons img:hover {
    filter: invert(61%) sepia(14%) saturate(2075%) hue-rotate(169deg) brightness(88%) contrast(89%);
    cursor: pointer;
}

.news-feed {
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    gap: 10px;
}

.announcements-card::before {
    content: "Announcements";
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    top: -35px;
    left: 10px
}

.announcements-card {
    margin-top: 50px;
    position: relative;
    padding: 20px 10px 20px 40px;
    background-color: white;
    border-radius: 10px;
}

.announcement {
    margin-top: 10px;
    padding: 10px;
    width: 250px;
}

.announcement-title {
    font-weight: 600;
    font-size: 16px;
}

.announcement-description {
    margin-top: 5px;
    font-weight: 300;
    font-size: 14px;
}

.announcement:nth-of-type(2) {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.trending-card::before {
    content: "Trending";
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    top: -35px;
}
.trending-card {
    margin-top: 50px;
    position: relative;
    padding: 0 0 20px 10px;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
}

.trending-account {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 10px 0px 10px;
}

.account-handle {
    font-weight: 600;
}

.account-info {
    margin-left: 10px;
}

.trending-account img {
    grid-row: 1 / 3;
    width: 50px;
    height: 50px;
}